*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F4F6F8;
    min-height: 100vh;
    font-family: Arial,sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding:0 70px;
    height: 90px;
    width:100%;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);

}
.logo{
    font-weight: bold;
    font-size: 28px;
}
.navbar ul{
    list-style:none;
    display: flex;
    gap:25px
}
.navbar a{
    text-decoration: none;
    color:#333;
    font-size: 18px;
    padding:10px 6px;
    transition: all 0.3s ease;
}

.username{
    background-color: #c0dbf0;
    color:#007bff;
    padding:20px 18px 20px 18px;
    border-radius: 10px;
    font-size: 18px;
    /* font-weight: bold; */
}

.navbar a:hover{
       background-color: rgb(144, 191, 223);
       color:white;
       
       border-radius: 15px;
}
.image img{
    width:100%;
   max-width:400px;
   display: block;
   margin: auto;
}

.hero{
    height: calc(100vh - 90px);
    display:grid;
    grid-template-columns:1.1fr 0.9fr;
    align-items: center;
    padding:0 40px;
     background-color: #fff;
     gap:32px;
      /* box-shadow: 0 4px 10px rgba(0,0,0,0.5); */
}
.btn{
 background-color: rgb(64, 64, 204);
 padding:20px 30px;
 border-radius: 12px;
 color:white;
 cursor:pointer;
 border: none;
 font-size: 18px;
}
.special{
    color:rgb(63, 63, 211);
}
.words h1{
    font-size:48px;
    margin-bottom: 20px;
    line-height: 1.3;
}
.words p{
    font-size: 20px;
    margin-bottom:30px;
    line-height: 1.5;
}


@media (max-width: 600px)
{
    .hero{
        grid-template-columns: 1fr;
        padding:20px;
        text-align: center;

    }
.words h1{
    font-size: 24px;
    margin:10px 0;
}
.words p{
    font-size:15px;
    margin-bottom:20px;
}
.btn{
    padding:15px 20px;
    font-size:16px;
}
.image img{
    max-width:300px;
}
.navbar{
    flex-direction: column;
    height: auto;
    padding:20px;
    gap:15px;
}
}

